Source: ros-kinetic-pose-cov-ops
Section: misc
Priority: extra
Maintainer: Jose-Luis Blanco-Claraco <jlblanco@ual.es>
Build-Depends: debhelper (>= 9.0.0), libmrpt-dev, ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-mrpt-bridge, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/pose_cov_ops
Standards-Version: 3.9.2

Package: ros-kinetic-pose-cov-ops
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmrpt-dev, ros-kinetic-geometry-msgs, ros-kinetic-mrpt-bridge, ros-kinetic-roscpp
Description: Library with C++ functions for SE(2/3) pose and 2D/3D point composition operations with uncertainty
